---
# Handlers for OpenShift Agent-Based Installer Role

- name: Clean work directory
  ansible.builtin.file:
    path: "{{ work_dir }}"
    state: absent
  when: not preserve_work_dir | bool
  listen: cleanup_work_dir
